In [1]:
import pandas as pd 
import numpy as np

In [2]:
data=pd.read_csv("AgentLogingReport.csv")

In [3]:
data

     SL No               Agent       Date Login Time Logout Time   Duration
0        1  Shivananda Sonwane  30-Jul-22   15:35:29    17:39:39   02:04:10
1        2      Khushboo Priya  30-Jul-22   15:06:59    15:07:16   00:00:17
2        3       Nandani Gupta  30-Jul-22   15:04:24    17:31:07   02:26:42
3        4     Hrisikesh Neogi  30-Jul-22   14:34:29    15:19:35   00:45:06
4        5              Mukesh  30-Jul-22   14:03:15    15:11:52   01:08:36
..     ...                 ...        ...        ...         ...        ...
995    996        Manjunatha A  20-Jul-22   09:03:51    15:02:28   05:58:37
996    997             Bharath  20-Jul-22   09:00:49    15:01:32   06:00:43
997    998      Khushboo Priya  20-Jul-22   08:59:20    14:26:55   05:27:34
998    999        Nishtha Jain  20-Jul-22   08:43:55    14:00:33   05:16:38
999   1000               Tarun  01-Jul-22   01:52:47    12:01:07  514:08:20

[1000 rows x 6 columns]

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   SL No        1000 non-null   int64
 1   Agent        1000 non-null   object
 2   Date         1000 non-null   object
 3   Login Time   1000 non-null   object
 4   Logout Time  1000 non-null   object
 5   Duration     1000 non-null   object
dtypes: int64(1), object(5)
memory usage: 47.0+ KB

In [5]:
data1=pd.read_csv("AgentPerformance.csv")
data1.drop("SL No",axis=1,inplace=True)
data1

,Date,Agent Name,Total Chats,Average Response Time,Average Resolution Time,Average Rating,Total Feedback
0,7/30/2022,Prerna Singh,11,0:00:38,0:04:20,4.11,9
1,7/30/2022,Nandani Gupta,11,0:01:15,0:28:25,3.14,7
2,7/30/2022,Ameya Jain,14,0:00:30,0:11:36,4.55,11
3,7/30/2022,Mahesh Sarade,14,0:01:04,0:15:46,4.71,7
4,7/30/2022,Swati,14,0:01:11,0:16:33,3.67,6
...,...,...,...,...,...,...,...
2155,7/1/2022,Sowmiya Sivakumar,0,0:00:00,0:00:00,0.00,0
2156,7/1/2022,Nitin M,0,0:00:00,0:00:00,0.00,0
2157,7/1/2022,Vivek,0,0:00:00,0:00:00,0.00,0
2158,7/1/2022,Ayushi Mishra,0,0:00:00,0:00:00,0.00,0
2159,7/1/2022,Chaitra K Hiremath,0,0:00:00,0:00:00,0.00,0

In [6]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2160 entries, 0 to 2159
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Date                     2160 non-null   object
 1   Agent Name               2160 non-null   object
 2   Total Chats              2160 non-null   int64
 3   Average Response Time    2160 non-null   object
 4   Average Resolution Time  2160 non-null   object
 5   Average Rating           2160 non-null   float64
 6   Total Feedback           2160 non-null   int64
dtypes: float64(1), int64(2), object(4)
memory usage: 118.2+ KB

In [7]:
data.shape

(1000, 6)

In [8]:
data.describe()

             SL No
count  1000.000000
mean    500.500000
std     288.819436
min       1.000000
25%     250.750000
50%     500.500000
75%     750.250000
max    1000.000000

In [9]:
data1["Date"]=pd.to_datetime(data1["Date"])
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2160 entries, 0 to 2159
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Date                     2160 non-null   datetime64[ns]
 1   Agent Name               2160 non-null   object
 2   Total Chats              2160 non-null   int64
 3   Average Response Time    2160 non-null   object
 4   Average Resolution Time  2160 non-null   object
 5   Average Rating           2160 non-null   float64
 6   Total Feedback           2160 non-null   int64
dtypes: datetime64[ns](1), float64(1), int64(2), object(3)
memory usage: 118.2+ KB

In [10]:
data1.columns

Index(['Date', 'Agent Name', 'Total Chats', 'Average Response Time',
       'Average Resolution Time', 'Average Rating', 'Total Feedback'],
      dtype='object')

In [11]:
data1['Date'].unique().shape

(30,)

# calculation of the number week
## there are 30days means 4 week (4*7=28days) and 2 days
### as working  days in the week is only 5 so only 20 days need to consider if we assume that last two days aree weekly offf

# after calculation the numkber week 
### we come to find the average rating on weekly bassis keep this in mind that they take two days of  leave

#

In [12]:
data1.groupby('Agent Name')['Average Rating'].sum()/4

Agent Name
Abhishek          0.0000
Aditya            0.0000
Aditya Shinde    13.5025
Aditya_iot       17.5900
Amersh            0.0000
                  ...
Uday Mishra       0.0000
Vasanth P         0.0000
Vivek             3.7550
Wasim            18.0000
Zeeshan          17.1525
Name: Average Rating, Length: 70, dtype: float64

# total working days for each working

In [13]:
agent_chat=data1[data1['Total Chats']>0]
agent_chat

,Date,Agent Name,Total Chats,Average Response Time,Average Resolution Time,Average Rating,Total Feedback
0,2022-07-30,Prerna Singh,11,0:00:38,0:04:20,4.11,9
1,2022-07-30,Nandani Gupta,11,0:01:15,0:28:25,3.14,7
2,2022-07-30,Ameya Jain,14,0:00:30,0:11:36,4.55,11
3,2022-07-30,Mahesh Sarade,14,0:01:04,0:15:46,4.71,7
4,2022-07-30,Swati,14,0:01:11,0:16:33,3.67,6
...,...,...,...,...,...,...,...
2101,2022-07-01,Jaydeep Dixit,25,0:01:15,0:26:27,4.77,13
2102,2022-07-01,Shivananda Sonwane,23,0:01:24,0:30:14,4.86,14
2103,2022-07-01,Khushboo Priya,24,0:01:46,0:29:28,4.61,18
2104,2022-07-01,Hrisikesh Neogi,15,0:01:05,0:25:29,4.56,9
2105,2022-07-01,Tarun,22,0:00:00,0:45:14,1.50,6

In [14]:
#agent present day 
agent_chat.groupby('Agent Name')['Total Chats'].count()

Agent Name
Aditya Shinde             12
Aditya_iot                17
Ameya Jain                15
Anirudh                    7
Ankitjha                   3
Anurag Tiwari              2
Aravind                   14
Ashad Nasim                2
Ayushi Mishra             24
Bharath                   19
Boktiar Ahmed Bappy       26
Chaitra K Hiremath         6
Deepranjan Gupta          21
Dibyanshu                  1
Harikrishnan Shaji        19
Hitesh Choudhary           1
Hrisikesh Neogi           21
Ishawant Kumar            24
Jawala Prakash            25
Jayant Kumar               8
Jaydeep Dixit             21
Khushboo Priya            26
Madhulika G               24
Mahak                      1
Mahesh Sarade             18
Maitry                    20
Maneesh                    3
Manjunatha A              25
Mithun S                  18
Mukesh                     2
Mukesh Rao                 3
Muskan Garg                5
Nandani Gupta             21
Nishtha Jain              23
Prabir Kumar Satapathy    17
Prateek _iot              17
Prerna Singh              22
Rishav Dash               21
Saikumarreddy N           13
Samprit                    1
Sandipan Saha              3
Sanjeev Kumar             23
Saurabh Shukla             4
Shiva Srivastava           7
Shivan K                  22
Shivan_S                   1
Shivananda Sonwane        28
Shubham Sharma            21
Sowmiya Sivakumar          9
Sudhanshu Kumar            2
Suraj S Bilgi              2
Swati                     17
Tarun                      1
Vivek                      5
Wasim                     16
Zeeshan                   16
Name: Total Chats, dtype: int64

In [15]:
agent_chat.groupby('Agent Name')['Total Chats'].count().min()

1

In [16]:
agent_chat.groupby('Agent Name')['Total Chats'].count().max()

28

## observation 
### minimum working day is 1  and maximum working day is 28

# 3 total query that a agent has taken

In [17]:
data1.groupby('Agent Name')['Total Chats'].sum()

Agent Name
Abhishek           0
Aditya             0
Aditya Shinde    277
Aditya_iot       231
Amersh             0
                ...
Uday Mishra        0
Vasanth P          0
Vivek             44
Wasim            433
Zeeshan          542
Name: Total Chats, Length: 70, dtype: int64

# total feedback that agent has received

In [18]:
data1.groupby('Agent Name')['Total Feedback'].sum()

Agent Name
Abhishek           0
Aditya             0
Aditya Shinde    153
Aditya_iot       131
Amersh             0
                ...
Uday Mishra        0
Vasanth P          0
Vivek             20
Wasim            284
Zeeshan          335
Name: Total Feedback, Length: 70, dtype: int64

# 5. A agent name who have average rating between 3.5 to 4

In [19]:
data1[(data1['Average Rating']>3.5) & (data1['Average Rating'] < 4)]

,Date,Agent Name,Total Chats,Average Response Time,Average Resolution Time,Average Rating,Total Feedback
4,2022-07-30,Swati,14,0:01:11,0:16:33,3.67,6
10,2022-07-30,Manjunatha A,11,0:00:47,0:42:56,3.60,5
76,2022-07-29,Prateek _iot,8,0:00:36,0:10:41,3.75,4
78,2022-07-29,Nandani Gupta,24,0:01:24,0:28:53,3.79,14
80,2022-07-29,Jaydeep Dixit,27,0:00:52,0:24:13,3.95,22
...,...,...,...,...,...,...,...
1869,2022-07-05,Boktiar Ahmed Bappy,24,0:00:53,0:09:53,3.78,18
1874,2022-07-04,Ayushi Mishra,29,0:01:11,0:17:59,3.80,20
1941,2022-07-04,Jawala Prakash,6,0:00:44,0:02:28,3.80,5
2021,2022-07-02,Aditya Shinde,57,0:01:26,0:19:52,3.54,28
2023,2022-07-02,Deepranjan Gupta,52,0:01:10,0:35:14,3.71,24

# 6 . Agent name who have rating lesss then 3.5

# following are 1474 agents whoes rating are lesss than 3.5

In [20]:
data1[data1['Average Rating'] < 3.5]['Agent Name']

1            Nandani Gupta
19        Hitesh Choudhary
20              Sanjeevan
21                Anirudh
22        Shiva Srivastava
               ...
2155     Sowmiya Sivakumar
2156               Nitin M
2157                Vivek
2158         Ayushi Mishra
2159    Chaitra K Hiremath
Name: Agent Name, Length: 1474, dtype: object

In [21]:
data1[data1['Average Rating']>4.5]['Agent Name']

2               Ameya Jain
3            Mahesh Sarade
5                  Mukesh
6          Saikumarreddy N
7            Sanjeev Kumar
               ...
2100        Shubham Sharma
2101         Jaydeep Dixit
2102    Shivananda Sonwane
2103        Khushboo Priya
2104       Hrisikesh Neogi
Name: Agent Name, Length: 307, dtype: object

## 8 . how many feedaback agents have received more then 4.5 average

In [22]:
data1.groupby('Agent Name')['Total Feedback'].sum()

Agent Name
Abhishek           0
Aditya             0
Aditya Shinde    153
Aditya_iot       131
Amersh             0
                ...
Uday Mishra        0
Vasanth P          0
Vivek             20
Wasim            284
Zeeshan          335
Name: Total Feedback, Length: 70, dtype: int64

# 9 Average weekly response tme for each agent 


# 1 always check the data type 
# convert data type into the time scale 
# then check the chage

In [23]:
data1['Average Response Time'].dtype

dtype('O')

In [24]:
data1['Average Response Time']= pd.to_datetime(data1['Average Response Time'])
data1['Average Response Time'].dtype

dtype('<M8[ns]')

In [25]:
data1['AVT_hour'] = data1['Average Response Time'].dt.hour
data1['AVT_min'] = data1['Average Response Time'].dt.minute

data1['AVT_sec'] = data1['Average Response Time'].dt.second
# conversion has done

In [26]:
data1.head(5)

,Date,Agent Name,Total Chats,Average Response Time,Average Resolution Time,Average Rating,Total Feedback,AVT_hour,AVT_min,AVT_sec
0,2022-07-30,Prerna Singh,11,2023-09-14 00:00:38,0:04:20,4.11,9,0,0,38
1,2022-07-30,Nandani Gupta,11,2023-09-14 00:01:15,0:28:25,3.14,7,0,1,15
2,2022-07-30,Ameya Jain,14,2023-09-14 00:00:30,0:11:36,4.55,11,0,0,30
3,2022-07-30,Mahesh Sarade,14,2023-09-14 00:01:04,0:15:46,4.71,7,0,1,4
4,2022-07-30,Swati,14,2023-09-14 00:01:11,0:16:33,3.67,6,0,1,11

In [27]:
(data1.groupby('Agent Name')['AVT_hour'].sum()*60*60)+(data1.groupby('Agent Name')['AVT_min'].sum()*60) + (data1.groupby('Agent Name')['AVT_sec'].sum())/4

Agent Name
Abhishek            0.00
Aditya              0.00
Aditya Shinde     673.00
Aditya_iot        524.75
Amersh              0.00
                  ...
Uday Mishra         0.00
Vasanth P           0.00
Vivek             282.75
Wasim             492.75
Zeeshan          1453.00
Length: 70, dtype: float64

# average weekly resolutipon time for each agent

In [28]:
data1['Average Resolution Time'].dtype

dtype('O')

In [29]:
# convert object data into time scale
data1['Average Resolution Time']=pd.to_datetime(data1['Average Resolution Time'])
data1['Average Resolution Time'].dtype

dtype('<M8[ns]')

In [30]:
data1['ART_hour'] = data1['Average Resolution Time'].dt.hour
data1['ART_min'] = data1['Average Resolution Time'].dt.minute

data1['ART_sec'] = data1['Average Resolution Time'].dt.second
# conversion has done

In [31]:
(data1.groupby('Agent Name')['ART_hour'].sum()*60*60)+(data1.groupby('Agent Name')['ART_min'].sum()*60) + (data1.groupby('Agent Name')['ART_sec'].sum())/4

Agent Name
Abhishek             0.00
Aditya               0.00
Aditya Shinde    18379.75
Aditya_iot       17244.75
Amersh               0.00
                   ...
Uday Mishra          0.00
Vasanth P            0.00
Vivek             4475.75
Wasim            20286.50
Zeeshan          19058.00
Length: 70, dtype: float64

In [32]:
data1['Agent Name'].unique()

array(['Prerna Singh', 'Nandani Gupta', 'Ameya Jain', 'Mahesh Sarade',
       'Swati ', 'Mukesh ', 'Saikumarreddy N', 'Sanjeev Kumar',
       'Shubham Sharma', 'Nishtha Jain', 'Manjunatha A', 'Khushboo Priya',
       'Suraj S Bilgi', 'Harikrishnan Shaji', 'Hrisikesh Neogi',
       'Shivan K', 'Sowmiya Sivakumar', 'Madhulika G', 'Mithun S',
       'Hitesh Choudhary', 'Sanjeevan ', 'Anirudh ', 'Shiva Srivastava',
       'Dibyanshu ', 'Ashish ', 'Uday Mishra', 'Aditya Shinde',
       'Jayant Kumar', 'Aditya_iot ', 'Prabir Kumar Satapathy',
       'Saurabh Shukla', 'Wasim ', 'Samprit ', 'Maitry ', 'Abhishek ',
       'Rishav Dash', 'Aravind ', 'Tarun ', 'Muskan Garg', 'Ankit Sharma',
       'Bharath ', 'Ashad Nasim', 'Vasanth P', 'Aditya ', 'Amersh ',
       'Sandipan Saha', 'Ineuron Intelligence ', 'Mahak ', 'Mukesh Rao ',
       'Zeeshan ', 'Anurag Tiwari', 'Ankitjha ', 'Saif Khan',
       'Jaydeep Dixit', 'Sudhanshu Kumar', 'Maneesh ', 'Hyder Abbas',
       'Rohan ', 'Vivek ', 'Nitin M', 'Shivan_S ', 'Spuri ',
       'Ayushi Mishra', 'Chaitra K Hiremath', 'Prateek _iot ',
       'Boktiar Ahmed Bappy', 'Shivananda Sonwane', 'Ishawant Kumar',
       'Deepranjan Gupta', 'Jawala Prakash'], dtype=object)

# 12 . Percentage of chat on which they have received a feedback
percentage of chat on which they have received a feedback = ((total chats - total feedbacks)/total chats)*100
or
percentage of chat on which they have received a feedback = ((total feedbacks)/(total chats))*100

In [33]:
data1.groupby('Agent Name')['Total Chats'].sum()

Agent Name
Abhishek           0
Aditya             0
Aditya Shinde    277
Aditya_iot       231
Amersh             0
                ...
Uday Mishra        0
Vasanth P          0
Vivek             44
Wasim            433
Zeeshan          542
Name: Total Chats, Length: 70, dtype: int64

In [34]:
data1.groupby('Agent Name')['Total Feedback'].sum()

Agent Name
Abhishek           0
Aditya             0
Aditya Shinde    153
Aditya_iot       131
Amersh             0
                ...
Uday Mishra        0
Vasanth P          0
Vivek             20
Wasim            284
Zeeshan          335
Name: Total Feedback, Length: 70, dtype: int64

In [35]:
feedback_received = (((data1.groupby('Agent Name')['Total Chats'].sum()) - (data1.groupby('Agent Name')['Total Feedback'].sum()))/(data1.groupby('Agent Name')['Total Chats'].sum()))*100

In [36]:
print(feedback_received)

Agent Name
Abhishek               NaN
Aditya                 NaN
Aditya Shinde    44.765343
Aditya_iot       43.290043
Amersh                 NaN
                   ...
Uday Mishra            NaN
Vasanth P              NaN
Vivek            54.545455
Wasim            34.411085
Zeeshan          38.191882
Length: 70, dtype: float64

In [37]:
feedback_received2=((data1.groupby('Agent Name')['Total Feedback'].sum())/(data1.groupby('Agent Name')['Total Chats'].sum()))*100

# 13 . Total contributation hour for each and every agents weekly basis

In [38]:
data.columns

Index(['SL No', 'Agent', 'Date', 'Login Time', 'Logout Time', 'Duration'], dtype='object')

In [39]:
data['Duration'].dtype

dtype('O')

In [40]:
data.head()

   SL No               Agent       Date Login Time Logout Time  Duration
0      1  Shivananda Sonwane  30-Jul-22   15:35:29    17:39:39  02:04:10
1      2      Khushboo Priya  30-Jul-22   15:06:59    15:07:16  00:00:17
2      3       Nandani Gupta  30-Jul-22   15:04:24    17:31:07  02:26:42
3      4     Hrisikesh Neogi  30-Jul-22   14:34:29    15:19:35  00:45:06
4      5              Mukesh  30-Jul-22   14:03:15    15:11:52  01:08:36

In [41]:
#drop first 2 row
#by  selecting all row from first 2 rows onwards
data=data.iloc[2: , : ]

In [42]:
data

     SL No              Agent       Date Login Time Logout Time   Duration
2        3      Nandani Gupta  30-Jul-22   15:04:24    17:31:07   02:26:42
3        4    Hrisikesh Neogi  30-Jul-22   14:34:29    15:19:35   00:45:06
4        5             Mukesh  30-Jul-22   14:03:15    15:11:52   01:08:36
5        6  Sowmiya Sivakumar  30-Jul-22   14:03:11    15:05:37   01:02:26
6        7       Manjunatha A  30-Jul-22   14:00:12    15:08:29   01:08:16
..     ...                ...        ...        ...         ...        ...
995    996       Manjunatha A  20-Jul-22   09:03:51    15:02:28   05:58:37
996    997            Bharath  20-Jul-22   09:00:49    15:01:32   06:00:43
997    998     Khushboo Priya  20-Jul-22   08:59:20    14:26:55   05:27:34
998    999       Nishtha Jain  20-Jul-22   08:43:55    14:00:33   05:16:38
999   1000              Tarun  01-Jul-22   01:52:47    12:01:07  514:08:20

[998 rows x 6 columns]

In [43]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 998 entries, 2 to 999
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   SL No        998 non-null    int64
 1   Agent        998 non-null    object
 2   Date         998 non-null    object
 3   Login Time   998 non-null    object
 4   Logout Time  998 non-null    object
 5   Duration     998 non-null    object
dtypes: int64(1), object(5)
memory usage: 46.9+ KB

In [45]:
data['modified_Duration']=(pd.to_datetime(data.Date) + pd.to_timedelta(data.Duration))

D:\anaconda\envs\deepl\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [46]:
data['modified_Duration']=(pd.to_datetime(data.Date) + pd.to_timedelta(data.Duration))

D:\anaconda\envs\deepl\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [47]:
data['Duration_minute']= data['modified_Duration'].dt.minute

D:\anaconda\envs\deepl\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [49]:
data['Duration_second'] =data['modified_Duration'].dt.second

D:\anaconda\envs\deepl\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [50]:
data.head()

,SL No,Agent,Date,Login Time,Logout Time,Duration,modified_Duration,Duration_minute,Duration_second
2,3,Nandani Gupta,30-Jul-22,15:04:24,17:31:07,02:26:42,2022-07-30 02:26:42,26,42
3,4,Hrisikesh Neogi,30-Jul-22,14:34:29,15:19:35,00:45:06,2022-07-30 00:45:06,45,6
4,5,Mukesh,30-Jul-22,14:03:15,15:11:52,01:08:36,2022-07-30 01:08:36,8,36
5,6,Sowmiya Sivakumar,30-Jul-22,14:03:11,15:05:37,01:02:26,2022-07-30 01:02:26,2,26
6,7,Manjunatha A,30-Jul-22,14:00:12,15:08:29,01:08:16,2022-07-30 01:08:16,8,16